.cluster-container {
  display: inline-block;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background-color: white;
  width: 700px;
  height: 700px;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  margin: 10px;
}

.cluster-container>b {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #000;
  padding: 0;
  transition: all 0.3s ease;
  border: 1px solid blue;
}